[submodule "src/SIS2"]
	path = src/SIS2
	url = git@github.com:NOAA-GFDL/SIS2.git
[submodule "src/MOM6"]
	path = src/MOM6
	url = git@github.com:NOAA-GFDL/MOM6.git
[submodule "src/icebergs"]
	path = src/icebergs
	url = git@github.com:NOAA-GFDL/icebergs.git
[submodule "src/coupler"]
	path = src/coupler
	url = git@github.com:MJHarrison-GFDL/coupler.git
[submodule "src/atmos_null"]
	path = src/atmos_null
	url = git@github.com:MJHarrison-GFDL/atmos_null.git
[submodule "src/land_null"]
	path = src/land_null
	url = git@github.com:NOAA-GFDL/land_null.git
[submodule "src/land_lad2"]
	path = src/land_lad2
	url = https://github.com/NOAA-GFDL/lm4.git
[submodule "src/mkmf"]
	path = src/mkmf
	url = git@github.com:NOAA-GFDL/mkmf.git
[submodule "src/ice_param"]
	path = src/ice_param
	url = git@github.com:NOAA-GFDL/ice_param.git
[submodule "src/FMS"]
	path = src/FMS
	url = git@github.com:MJHarrison-GFDL/FMS.git
[submodule "src/Icepack"]
	path = src/Icepack
	url = https://github.com/CICE-Consortium/Icepack
[submodule "src/ocean_amip"]
	path = src/ocean_amip
	url = https://gitlab.gfdl.noaa.gov/fms/ocean_amip.git
[submodule "src/atmos_solo_land"]
	path = src/atmos_solo_land
	url = https://gitlab.gfdl.noaa.gov/fms/atmos_solo_land.git
[submodule "src/ice_amip"]
	path = src/ice_amip
	url = https://gitlab.gfdl.noaa.gov/fms/ice_amip.git
[submodule "src/atmos_shared"]
	path = src/atmos_shared
	url = https://gitlab.gfdl.noaa.gov/fms/atmos_shared.git
[submodule "src/atmos_param"]
	path = src/atmos_param
	url = https://gitlab.gfdl.noaa.gov/fms/atmos_param.git
[submodule "src/ice_null"]
	path = src/ice_null
	url = git@github.com:NOAA-GFDL/ice_null
